body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;

}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: red;
}
.yellow{
    background-color: yellow ;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple ;
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: rgb(118, 255, 118);
}