body{
    text-align: center;
    /* display: flex;
    justify-content: center; */

}

div{
    margin: auto;
    height: 100px;
    width: 500px;
    border: 2px black solid;
    border-radius: 20px;
}



/* .rgb{
    background-color: rancol;
} */