div{
    background-color: yellow;
}

form{
    background-color: red;
}

input{
    background-color: inherit;
}

button{
    background-color: inherit;
}

button:hover{
    background-color: blue;
}