span{
    background-color: lime;
    border: 2px solid black;
    padding: 50px;
    height: 100px;
    width: 200px;
    padding: 50px;
    margin: 20px;
}

div{
    background-color: lime;
    border: 2px solid black;
    padding: 50px;
    height: 100px;
    width: 200px;
    padding: 50px;
    margin: 20px;
}


