h1{
    border: 3px solid black;
    width: 50%;
}

#outer{
    height: 400px;
    width: 400px;
    background-color: lime;
}

#inner{
    height: 100px;
    width: 100px;
    background-color: pink;

    margin: 50%;
}