#tran{
    height: 400px;
    width: 400px;
    background-color: lime;
}

#tran:hover{
    background-color: black;
    border-radius: 50%;

    /* transition : property name || duration || timing function|| delay */
    transition-duration: 1s;
    transition-delay: 1s;

}

#margin{
    height: 100px;
    width: 100px;
    background-color: hotpink;
    margin-left: 50%;
    margin-top: -400px;
    transition: margin-top 2s ease-in-out 0.2s;
}

#margin:hover{
    margin-top: 400px;
    background-color: red;
}